WebRoutingServer/BikingApp/Connected Services/ServiceProxyCache/ServiceProxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJCDContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDContract" nillable="true" type="tns:JCDContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDContract" nillable="true" type="tns:ArrayOfJCDContract" />
  <xs:complexType name="JCDContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDContract" nillable="true" type="tns:JCDContract" />
  <xs:complexType name="ArrayOfJCDStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDStation" nillable="true" type="tns:JCDStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDStation" nillable="true" type="tns:ArrayOfJCDStation" />
  <xs:complexType name="JCDStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="totalStands" nillable="true" type="tns:Stands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDStation" nillable="true" type="tns:JCDStation" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Stands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availability" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stands" nillable="true" type="tns:Stands" />
  <xs:complexType name="Availability">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
      <xs:element minOccurs="0" name="stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availability" nillable="true" type="tns:Availability" />
</xs:schema>