WebRoutingServer/BikingApp/Connected Services/ServiceProxyCache/ServiceProxy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/ISeriveProxy/ServiceProxy?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyService" />
  <xs:element name="getContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyService" minOccurs="0" name="getContractsResult" nillable="true" type="q1:ArrayOfJCDContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsOfContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProxyService" minOccurs="0" name="contract" nillable="true" type="q2:JCDContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsOfContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProxyService" minOccurs="0" name="getStationsOfContractResult" nillable="true" type="q3:ArrayOfJCDStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>